$space-0: 0;
$spacings: $space-0 $space-1 $space-2 $space-3 $space-4 $space-5 $space-6
  $space-7 $space-8;
$space-count: 0;

@each $spacing in $spacings {
  .p-margin-#{$space-count} {
    margin: #{$spacing} !important;
  }
  .p-margin-top-#{$space-count} {
    margin-top: #{$spacing} !important;
  }
  .p-margin-right-#{$space-count} {
    margin-right: #{$spacing} !important;
  }
  .p-margin-bottom-#{$space-count} {
    margin-bottom: #{$spacing} !important;
  }
  .p-margin-left-#{$space-count} {
    margin-left: #{$spacing} !important;
  }
  .p-margin-horizontal-#{$space-count} {
    margin-left: #{$spacing} !important;
    margin-right: #{$spacing} !important;
  }
  .p-margin-vertical-#{$space-count} {
    margin-top: #{$spacing} !important;
    margin-bottom: #{$spacing} !important;
  }

  .p-padding-#{$space-count} {
    padding: #{$spacing} !important;
  }
  .p-padding-top-#{$space-count} {
    padding-top: #{$spacing} !important;
  }
  .p-padding-right-#{$space-count} {
    padding-right: #{$spacing} !important;
  }
  .p-padding-bottom-#{$space-count} {
    padding-bottom: #{$spacing} !important;
  }
  .p-padding-left-#{$space-count} {
    padding-left: #{$spacing} !important;
  }
  .p-padding-horizontal-#{$space-count} {
    padding-left: #{$spacing} !important;
    padding-right: #{$spacing} !important;
  }
  .p-padding-vertical-#{$space-count} {
    padding-top: #{$spacing} !important;
    padding-bottom: #{$spacing} !important;
  }

  .p-left-#{$space-count} {
    left: #{$spacing} !important;
  }

  .p-right-#{$space-count} {
    right: #{$spacing} !important;
  }

  .p-top-#{$space-count} {
    top: #{$spacing} !important;
  }

  .p-bottom-#{$space-count} {
    bottom: #{$spacing} !important;
  }

  $space-count: $space-count + 1;
}

@media screen and (min-width: map-get($grid-breakpoints, 'xs')) {
  .p-hidden-xs-up {
    display: none;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, 'xs')) {
  .p-hidden-xs-down {
    display: none;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
  .p-hidden-sm-up {
    display: none;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, 'sm')) {
  .p-hidden-sm-down {
    display: none;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'md')) {
  .p-hidden-md-up {
    display: none;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, 'md')) {
  .p-hidden-md-down {
    display: none;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
  .p-hidden-lg-up {
    display: none;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, 'lg')) {
  .p-hidden-lg-down {
    display: none;
  }
}

$mnh: 0;
@while $mnh <= 100 {
  .mnh-#{$mnh} {
    min-height: #{$mnh + '%'};
  }
  $mnh: $mnh + 25;
}

.p-text-ellipsis {
  @include m-text-ellipsis;
}

.p-float-left {
  float: left !important;
}

.p-float-right {
  float: right !important;
}

.p-display-inline-block {
  display: inline-block !important;
}

.p-display-table-cell {
  display: table-cell !important;
}

.p-display-block {
  display: block !important;
}

.p-display-none {
  display: none !important;
}

.p-text-align-center {
  text-align: center !important;
}

.p-text-align-right {
  text-align: right !important;
}

.p-text-align-left {
  text-align: left !important;
}

.p-text-bold {
  font-weight: 500;
}

.p-overflow-hidden {
  overflow: hidden !important;
}

.p-overflow-visible {
  overflow: visible !important;
}

.p-position-relative {
  position: relative !important;
}

.p-cursor-pointer {
  cursor: pointer !important;
}

.p-cursor-not-allowed {
  cursor: not-allowed !important;
}

.p-cursor-initial {
  cursor: initial !important;
}

.p-cursor-default {
  cursor: default !important;
}

.p-vertical-align-middle {
  vertical-align: middle !important;
}

.p-text-transform-capitalize {
  text-transform: capitalize !important;
}

.p-text-transform-uppercase {
  text-transform: uppercase !important;
}

.p-text-decoration-underline {
  text-decoration: underline;
}

// Colors
.p-color-primary {
  color: $gv-primary-dark !important;
}

.p-text-color-primary {
  color: $color-text-primary !important;
}

.p-text-color-secondary {
  color: $color-text-secondary !important;
}

.p-text-color-hint {
  color: $color-text-hint !important;
}

.p-text-color-red {
  color: $color-red-500 !important;
}

.p-text-color-green {
  color: $color-green-500 !important;
}

.p-color-accent {
  color: $color-accent !important;
}

.p-text-color-yellow {
  color: $color-yellow-800 !important;
}

.p-height-100 {
  height: 100%;
}
